<ion-header>
  <ion-toolbar>
    <ion-title>Confirm Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<!-- might want to hide toolbar if you deem so -->
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/homestaff']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/product-list']">
        <ion-icon name="pizza"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/cart']">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/order-history']">
        <ion-icon name="basket"></ion-icon>
        <ion-label>Orders</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/accountstaff']">
        <ion-icon name="person"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
